body {
    background: "#F4F4F4";
}

p.titulo-nome {
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16;
    font-weight: bold;
    color: blue;    
}

p.info-pessoais {
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12;
    color: black; 
}

p.subtitulo {
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12;
    font-weight: bold;
    color: blue;    
}

ul.itens {
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12;
    color: black; 
}

img {
    border-radius: 15%;
    width: 200px;
}